$main-black: #181818;
$main-white: #ffffff;
$main-green: #00ba98;
$sub-green: #f2fff8;
$main-red: #f93b3d;
$main-bgc: #fefefe;

$gray-01:#333333;
$gray-02:#747474;
$gray-03:#bfbfbf;
$gray-04:#e4e4e4;
$gray-05:#f4f4f4;
$body-text: #dcdfe6;

$header-font-size: 28px;
$subHeader-font-size: 18px;
$title-font-size: 14px;
$subTitle-font-size: 14px;
$body-01-font-size: 16px;
$body-02-font-size: 16px;
$comment-font-size: 14px;
$caption-font-size: 13px;
$tag-font-size: 12px;
